@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html, body {
  overflow-x: hidden!important;
}

.gradient-bg {
  background-image: linear-gradient(to bottom right, var(--from-color), var(--to-color));
}

.chip {
  display: inline-flex;
  align-items: center;
  border: 2px solid;
  border-radius: 16px;
  padding: 4px 8px;
  background-color: transparent;
}

.chip img {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.chip.starred {
  border-color: gold;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}